src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="businessLogicFlow" doc:id="5aa7011d-8abd-453d-9459-c7322838f14a">
		<batch:job jobName="migrateAccountsBatch"
			doc:id="af55c5cf-807b-4582-9868-66f144b0a8e9">
			<batch:process-records>
				<batch:step name="getAccountInDatabaseStep" doc:id="b2f6d0eb-1dd2-4281-bd99-14cd169d9976">
					<db:select config-ref="Database_Config"
						doc:name="Select account from database by name" doc:id="ea180723-75eb-4fcd-84e0-d9877b28fa48"
						target="IdInB" targetValue="#[payload]">
						<db:sql>SELECT Id FROM Account WHERE Name = :name</db:sql>
						<db:input-parameters><![CDATA[#[{'name' : payload.Name}]]]></db:input-parameters>
					</db:select>
					<ee:transform doc:name="Push Id of account from database to payload"
						doc:id="1d5b7cc2-9ddb-4b89-a8a1-609ed808e03a">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {IdInB: vars.IdInB[0].Id}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="updateAccountsInDatabaseStep" doc:id="e1702a0d-b993-4a37-8116-8473a7c564e2"
					acceptExpression="payload.IdInB != null">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="ca478779-cd13-4594-b0d1-30aee5a5cba2" size="${page.size}">
						<db:bulk-update config-ref="Database_Config"
							doc:name="Bulk update of accounts from database" doc:id="b4701ae7-61dd-41ab-b626-982f2417a351">
							<db:sql>UPDATE Account SET
								AccountNumber = :AccountNumber,
								Description = :Description,
								Industry = :Industry,
								LastModifiedDate = CURRENT_TIMESTAMP(),
								LastModifiedById = CURRENT_USER(),
								NumberOfEmployees = :NumberOfEmployees
								WHERE Id = :IdInB
							</db:sql>
						</db:bulk-update>
					</batch:aggregator>
				</batch:step>
				<batch:step name="insertAccountsToDatabaseStep" doc:id="0635642e-6535-4e67-a6e7-68e2b4a4b99f"
					acceptExpression="payload.IdInB == null">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="86dd7c8e-c76c-4167-8c04-c633833b764a" size="${page.size}">
						<db:bulk-insert config-ref="Database_Config"
							doc:name="Bulk insert of accounts to database" doc:id="b87bbcfa-92c5-43ac-8351-ac3ee341450c">
							<db:sql>INSERT INTO Account (
								AccountNumber,
								Description,
								Name,
								NumberOfEmployees,
								Industry,
								SalesforceId,
								LastModifiedById,
								LastModifiedDate
							) VALUES (
								:AccountNumber,
								:Description,
								:Name,
								:NumberOfEmployees,
								:Industry,
								:Id,
								CURRENT_USER(),
								CURRENT_TIMESTAMP())
							</db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Prepare migration result " doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"
 
++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
++ "\n Total Records: "				++ payload.totalRecords
++ "\n Successful Records: "		++ payload.successfulRecords
++ "\n Failed Records: "			++ payload.failedRecords
++ "\n Loaded Records: "			++ payload.loadedRecords
++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Migration process has finished" doc:id="2a5c0c04-247d-4a5e-b2f0-292aba987ad0" message="Migration process has finished!"/>
			</batch:on-complete>
		</batch:job>
	</flow>

</mule>